@model MilesPerGallon.DriverInfo

@{
    ViewData["Title"] = "Create";
}

<h1>Add</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fname" class="control-label"></label>
                <input asp-for="Fname" class="form-control" />
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lname" class="control-label"></label>
                <input asp-for="Lname" class="form-control" />
                <span asp-validation-for="Lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel" class="control-label"></label>
                <input asp-for="CarModel" class="form-control" />
                <span asp-validation-for="CarModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MilesDriven" class="control-label"></label>
                <input asp-for="MilesDriven" class="form-control" />
                <span asp-validation-for="MilesDriven" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GallonsFilled" class="control-label"></label>
                <input asp-for="GallonsFilled" class="form-control" />
                <span asp-validation-for="GallonsFilled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FillupDate" class="control-label"></label>
                <input asp-for="FillupDate" class="form-control" />
                <span asp-validation-for="FillupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
